<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Edit Article</h1>
    <form id = 'article' method = 'POST' action = '/article/edit/<%= article._id %>'>
      <label for="title">Title</label>
      <input type = 'text' name = 'title' placeholder = 'Title' value='<%= article.title %>' required>
      <br>
      <label for="author">Author</label>
      <input type = 'text' name = 'author' placeholder = 'Author' value='<%= article.author %>' required>
      <br>
      <label for="author">Description</label>
      <textarea name = 'desc' placeholder = 'Description' required><%= article.desc %></textarea>
      <br>
      <input type = 'submit' value = 'Submit'>
    </form>
    <%- include('partials/footer') %>
  </body>
</html>
