<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>Edit Article</h1>
      <br>
      <form id = 'article' class = "form-horizontal" method = 'POST' action = '/article/edit/<%= article._id %>'>
        <div class="form-group">
          <label for="title" class="col-sm-1 control-label">Title</label>
          <div class="col-sm-3">
            <input type = 'text' id = 'title' class = "form-control" name = 'title' placeholder = 'Title' value='<%= article.title %>' required>
          </div>
        </div>
        <!--<div class="form-group">
          <label for="author" class="col-sm-1 control-label">Author</label>
          <div class="col-sm-3">
            <input type = 'text' id = 'author' class = "form-control" name = 'author' placeholder = 'Author' value='<%= article.author %>' required>
          </div>
        </div>-->
        <div class="form-group">
          <label for="desc" class="col-sm-1 control-label">Description</label>
          <div class="col-sm-3">
            <textarea id = 'desc' name = 'desc' class = "form-control" placeholder = 'Description' required><%= article.desc %></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <input type = 'submit' class = "btn btn-default" value = 'Submit'>
          </div>
        </div>
      </form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
