<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1> Articles </h1>
      <div class="list-group">
        <% articles.forEach(function(article) { %>
          <a class="list-group-item" href = '/article/<%= article._id %>' > <%= article.title %> </a>
        <% }); %>
      </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
